# Profiling

## Setup

In [1]:
# Import packages
import pandas as pd
from ds_common_utils.aux.io.snowflake_tools import SnowflakeTools
from datetime import datetime

In [2]:
# Setup connection
con = SnowflakeTools(
    role="INSIGHT_ANALYST_MERCH_DE_GENERAL_PRD",
    warehouse="INSIGHT_ANALYST_WH",
    database="BDWPRD_DE",
    schema="IA_MERCH_DE"
)

In [3]:
# Set item range table name
table_name = 'ev_item_range' + datetime.today().strftime('%Y_%m_%d')

In [4]:
# Date range
start_date = "'2024-02-01'"
end_date = "'2025-01-01'"

In [6]:
# Create temp item table
con.execute_statement_from_sql_file(
    file='sql/0-item-range.sql',
    formatting={'table_name': table_name})

## Data Pull

### Demographic Segments

In [7]:
# Get data
df_ds = con.read_sql_file_into_pandas(
    file="sql/1-demographic-segments.sql",
    formatting={
        'start_date': start_date,
        'end_date': end_date,
        'table_name': table_name
    }
)

In [8]:
# Check data
df_ds

,DEMOGRAPHIC_SEGMENT,RANGE_SALES,RANGE_QUANTITY,RANGE_CUSTOMERS,RANGE_SALES_SHARE,RANGE_QUANTITY_SHARE,RANGE_CUSTOMER_SHARE,OVERALL_SALES,OVERALL_QUANTITY,OVERALL_CUSTOMERS,OVERALL_SALES_SHARE,OVERALL_QUANTITY_SHARE,OVERALL_CUSTOMER_SHARE,SALES_INDEX,QUANTITY_INDEX,CUSTOMER_INDEX
0,1.Renter no kids,70415.07,892.0,54,0.017952,0.019178,0.017269,3.315589e+08,22295958.0,949050,0.079773,0.081830,0.164570,0.225033,0.234363,0.104934
1,2.Renter with kids,56515.65,684.0,37,0.014408,0.014706,0.011832,2.524844e+08,16915255.0,625842,0.060748,0.062082,0.108524,0.237178,0.236879,0.109027
2,3.Younger homeowner,759800.70,8956.0,550,0.193704,0.192552,0.175887,6.128600e+08,37651620.0,556166,0.147455,0.138188,0.096442,1.313648,1.393413,1.823759
3,4.Homeowner younger kids,875109.70,10289.0,647,0.223100,0.221212,0.206908,7.971341e+08,48228958.0,771081,0.191791,0.177008,0.133709,1.163246,1.249726,1.547450
4,5.Homeowner older kids,438863.70,5180.0,365,0.111884,0.111369,0.116725,3.710908e+08,22491019.0,396067,0.089285,0.082546,0.068680,1.253112,1.349181,1.699549
5,6.Older homeowner,1721788.13,20511.0,1474,0.438953,0.440983,0.471378,1.791132e+09,124884611.0,2468644,0.430948,0.458347,0.428075,1.018574,0.962116,1.101158

### DIY Proficiency

In [9]:
# Get data
df_diy = con.read_sql_file_into_pandas(
    file="sql/2-diy-proficiency.sql",
    formatting={
        'start_date': start_date,
        'end_date': end_date,
        'table_name': table_name
    }
)

In [10]:
# Check data
df_diy

,PROFICIENCY_GROUP,RANGE_SALES,RANGE_QUANTITY,RANGE_CUSTOMERS,RANGE_SALES_SHARE,RANGE_QUANTITY_SHARE,RANGE_CUSTOMER_SHARE,OVERALL_SALES,OVERALL_QUANTITY,OVERALL_CUSTOMERS,OVERALL_SALES_SHARE,OVERALL_QUANTITY_SHARE,OVERALL_CUSTOMER_SHARE,SALES_INDEX,QUANTITY_INDEX,CUSTOMER_INDEX
0,1. DIY Master,1981186.23,23530.0,1658,0.551451,0.552309,0.570151,1.163842e+09,71949511.0,964469,0.314010,0.293764,0.210648,1.756157,1.880107,2.706653
1,2. DIY Skilled,919603.24,10859.0,727,0.255966,0.254888,0.250000,1.033219e+09,67424653.0,1225229,0.278767,0.275290,0.267600,0.918206,0.925891,0.934230
2,3. DIY Maintainer,446461.90,5300.0,352,0.124270,0.124404,0.121045,8.555478e+08,58279219.0,1226056,0.230831,0.237950,0.267781,0.538359,0.522818,0.452030
3,4. DIY Rookie,245426.64,2914.0,171,0.068313,0.068399,0.058803,6.537751e+08,47269163.0,1162828,0.176392,0.192996,0.253971,0.387280,0.354405,0.231534

### RFM (Annual Segment)

In [11]:
# Get data
df_rfm = con.read_sql_file_into_pandas(
    file="sql/3-rfm.sql",
    formatting={
        'start_date': start_date,
        'end_date': end_date,
        'table_name': table_name
    }
)

In [12]:
# Check data
df_rfm

,ANNUAL_SEGMENT,RANGE_SALES,RANGE_QUANTITY,RANGE_CUSTOMERS,RANGE_SALES_SHARE,RANGE_QUANTITY_SHARE,RANGE_CUSTOMER_SHARE,OVERALL_SALES,OVERALL_QUANTITY,OVERALL_CUSTOMERS,OVERALL_SALES_SHARE,OVERALL_QUANTITY_SHARE,OVERALL_CUSTOMER_SHARE,SALES_INDEX,QUANTITY_INDEX,CUSTOMER_INDEX
0,High Spend High Frequency,3039025.95,36023.0,2412,0.771626,0.771304,0.769378,2.417658e+09,153470676.0,1389069,0.586034,0.565179,0.263189,1.316691,1.364708,2.923291
1,High Spend Low Frequency,543486.67,6479.0,399,0.137994,0.138725,0.127273,7.627375e+08,43530323.0,1284405,0.184886,0.160307,0.243358,0.746377,0.865369,0.522987
2,Low Spend High Frequency,206133.75,2484.0,200,0.052339,0.053186,0.063796,5.007405e+08,41692067.0,787133,0.121378,0.153537,0.149139,0.431202,0.346404,0.427762
3,Low Spend Low Frequency,149823.57,1718.0,124,0.038041,0.036785,0.039553,4.443183e+08,32850443.0,1817235,0.107702,0.120977,0.344314,0.353208,0.304066,0.114875

### Commercial BOT

In [13]:
# Get data
df_bot = con.read_sql_file_into_pandas(
    file="sql/4-commercial-bot.sql",
    formatting={
        'start_date': start_date,
        'end_date': end_date,
        'table_name': table_name
    }
)

In [14]:
# Check data
df_bot

,COMMERCIAL_INDUSTRY_SEGMENT_REPORT_GROUP_CODE,RANGE_SALES,RANGE_QUANTITY,RANGE_CUSTOMERS,RANGE_SALES_SHARE,RANGE_QUANTITY_SHARE,RANGE_CUSTOMER_SHARE,OVERALL_SALES,OVERALL_QUANTITY,OVERALL_CUSTOMERS,OVERALL_SALES_SHARE,OVERALL_QUANTITY_SHARE,OVERALL_CUSTOMER_SHARE,SALES_INDEX,QUANTITY_INDEX,CUSTOMER_INDEX
0,B&O,15083597.05,197324.0,5521,0.268600,0.267521,0.315973,2.201105e+09,122771087.0,538361,0.374803,0.393591,0.508170,0.716642,0.679694,0.621786
1,Builder,23653019.42,313654.0,6048,0.421199,0.425235,0.346134,1.915227e+09,91116091.0,146239,0.326124,0.292108,0.138038,1.291529,1.455746,2.507527
2,Trades,17419834.40,226623.0,5904,0.310202,0.307243,0.337893,1.760491e+09,98037273.0,374811,0.299776,0.314297,0.353792,1.034780,0.977558,0.955061
3,Unknown,NaN,NaN,0,NaN,NaN,0.000000,-4.126597e+06,1295.0,1,-0.000703,0.000004,0.000001,NaN,NaN,0.000000

### Commercial Industry Segment

In [15]:
# Get data
df_is = con.read_sql_file_into_pandas(
    file="sql/5-commercial-industry-segment.sql",
    formatting={
        'start_date': start_date,
        'end_date': end_date,
        'n_commercial_segments': 25, # Can change, 25-40 recommended otherwise additional segments are too small
        'table_name': table_name
    }
)

In [16]:
# Check data
df_is.sort_values(by='SALES_INDEX', ascending=False)

,COMMERCIAL_INDUSTRY_SEGMENT_CODE,RANGE_SALES,RANGE_QUANTITY,RANGE_CUSTOMERS,RANGE_SALES_SHARE,RANGE_QUANTITY_SHARE,RANGE_CUSTOMER_SHARE,OVERALL_SALES,OVERALL_QUANTITY,OVERALL_CUSTOMERS,OVERALL_SALES_SHARE,OVERALL_QUANTITY_SHARE,OVERALL_CUSTOMER_SHARE,SALES_INDEX,QUANTITY_INDEX,CUSTOMER_INDEX
2,Carpentry Services,7746647.48,101461.0,2201,0.145537,0.145108,0.134199,3.560253e+08,17328440.0,53133,0.066116,0.060797,0.055513,2.201240,2.386779,2.417434
5,Construction Services,3261790.06,43700.0,882,0.061280,0.062499,0.053777,2.322027e+08,13311173.0,34740,0.043121,0.046702,0.036296,1.421095,1.338251,1.481623
4,Commercial Builder,6133881.51,81254.0,1708,0.115238,0.116208,0.104140,4.400248e+08,20389615.0,29320,0.081715,0.071537,0.030633,1.410239,1.624457,3.399602
10,Landscaper and Gardening Services,3155882.10,40764.0,987,0.059290,0.058300,0.060179,2.409719e+08,16283854.0,49256,0.044750,0.057132,0.051462,1.324917,1.020451,1.169387
19,Residential Builder,11908064.36,158015.0,2778,0.223718,0.225991,0.169380,9.991685e+08,44758034.0,51179,0.185552,0.157033,0.053472,1.205693,1.439129,3.167639
21,Site Preparation and Development,2349283.49,30685.0,680,0.044136,0.043885,0.041461,2.438310e+08,12657269.0,31000,0.045281,0.044408,0.032389,0.974722,0.988231,1.280095
8,Financial and Insurance Services,866976.75,11378.0,321,0.016288,0.016273,0.019572,1.026293e+08,5646607.0,28327,0.019059,0.019811,0.029596,0.854615,0.821393,0.661306
16,Professional Computer and Scientific Services,3496643.84,45316.0,1301,0.065692,0.064810,0.079324,4.657070e+08,25792940.0,125335,0.086485,0.090494,0.130949,0.759579,0.716182,0.605763
3,Cleaning Services,1463799.09,18811.0,632,0.027501,0.026903,0.038534,1.972596e+08,11331920.0,43241,0.036632,0.039758,0.045178,0.750720,0.676676,0.852937
12,Owner Builder,563598.08,7262.0,246,0.010588,0.010386,0.014999,7.628366e+07,4006455.0,19688,0.014166,0.014057,0.020570,0.747433,0.738871,0.729169
0,Accommodation and Food Services,1592768.29,20871.0,555,0.029924,0.029849,0.033839,2.180866e+08,12195690.0,56396,0.040500,0.042788,0.058922,0.738853,0.697605,0.574302
20,Retail and Wholesale Trade,2712978.93,35490.0,911,0.050969,0.050757,0.055545,3.738031e+08,21392397.0,98755,0.069418,0.075055,0.103179,0.734240,0.676268,0.538336
11,Manufacturing,1664585.32,22178.0,491,0.031273,0.031719,0.029937,2.337721e+08,12898275.0,40899,0.043413,0.045253,0.042731,0.720357,0.700912,0.700592
17,Rental Hiring and Real Estate Services,746449.08,9927.0,243,0.014024,0.014197,0.014816,1.077411e+08,5559474.0,16184,0.020008,0.019505,0.016909,0.700895,0.727875,0.876220
1,Agriculture Forestry and Fishing,446359.95,5719.0,174,0.008386,0.008179,0.010609,7.666338e+07,4296765.0,25611,0.014237,0.015075,0.026758,0.589022,0.542564,0.396480
7,Electrical Services,1284382.20,16750.0,530,0.024130,0.023956,0.032315,2.258177e+08,12581911.0,54741,0.041936,0.044144,0.057193,0.575401,0.542676,0.565017
22,Sports Recreation Arts and Media Services,533412.12,7085.0,239,0.010021,0.010133,0.014572,9.405125e+07,5386205.0,24386,0.017466,0.018897,0.025478,0.573763,0.536203,0.571944
23,Transport Postal and Warehousing,336047.96,4394.0,147,0.006313,0.006284,0.008963,6.051653e+07,3264452.0,17433,0.011238,0.011453,0.018214,0.561774,0.548684,0.492094
18,Repair and Maintenance,606852.57,7789.0,293,0.011401,0.011140,0.017865,1.174039e+08,6703494.0,37534,0.021803,0.023519,0.039215,0.522920,0.473645,0.455565
14,Personal and Other Services,332209.42,4198.0,163,0.006241,0.006004,0.009938,6.771758e+07,3857751.0,18168,0.012576,0.013535,0.018982,0.496301,0.443589,0.523549
6,Education and Training,407394.98,5368.0,199,0.007654,0.007677,0.012133,8.441772e+07,5180764.0,15617,0.015677,0.018177,0.016317,0.488221,0.422368,0.743580
9,Health and Residential Care Services,466476.13,6003.0,206,0.008764,0.008585,0.012560,9.818289e+07,5459903.0,26160,0.018233,0.019156,0.027332,0.480649,0.448184,0.459535
15,Plumbing Services,924908.50,11910.0,403,0.017376,0.017034,0.024572,1.995982e+08,10700509.0,38362,0.037067,0.037543,0.040080,0.468788,0.453712,0.613074
13,Painting and Decorating Services,226515.19,2881.0,111,0.004256,0.004120,0.006768,7.710313e+07,4037583.0,21659,0.014319,0.014166,0.022629,0.297207,0.290867,0.299085
24,Unknown,NaN,NaN,0,NaN,NaN,0.000000,-4.126597e+06,1295.0,1,-0.000766,0.000005,0.000001,NaN,NaN,0.000000

### Location

In [17]:
# Get data
df_loc = con.read_sql_file_into_pandas(
    file="sql/6-location.sql",
    formatting={
        'start_date': start_date,
        'end_date': end_date,
        'table_name': table_name
    }
)

In [18]:
# Check data
df_loc.sort_values(by='SALES_INDEX', ascending=False)

,LOCATION_NAME,RANGE_SALES,RANGE_QUANTITY,RANGE_SALES_SHARE,RANGE_QUANTITY_SHARE,OVERALL_SALES,OVERALL_QUANTITY,OVERALL_SALES_SHARE,OVERALL_QUANTITY_SHARE,SALES_INDEX,QUANTITY_INDEX
200,Maroochydore Trade Centre,586768.00,7983.0,0.008617,0.009074,11967201.60,417777.0,0.000752,4.232677e-04,11.458507,21.437469
217,Mitchell Trade Centre,409760.90,5436.0,0.006017,0.006179,9208233.83,316111.0,0.000579,3.202655e-04,10.399403,19.292643
72,Cameron Park Trade Centre,505543.55,7020.0,0.007424,0.007979,11544576.45,393973.0,0.000725,3.991508e-04,10.233750,19.990449
99,Cromer Trade Centre,320405.92,4152.0,0.004705,0.004719,8534033.68,263842.0,0.000536,2.673096e-04,8.774056,17.654902
335,Tuggerah Trade Centre,465465.78,6386.0,0.006835,0.007259,12676985.36,381066.0,0.000797,3.860742e-04,8.580765,18.800986
...,...,...,...,...,...,...,...,...,...,...,...
340,Unanderra F&T,NaN,NaN,NaN,NaN,11789014.51,1653.0,0.000741,1.674720e-06,NaN,NaN
349,WA Support Centre Cafe,NaN,NaN,NaN,NaN,204243.28,82037.0,0.000013,8.311518e-05,NaN,NaN
350,Wacol F&T,NaN,NaN,NaN,NaN,8133351.14,838.0,0.000511,8.490100e-07,NaN,NaN
355,Warnervale F&T,NaN,NaN,NaN,NaN,19991586.37,2552.0,0.001256,2.585540e-06,NaN,NaN
357,Warringah Mall Store,NaN,NaN,NaN,NaN,8022887.27,666531.0,0.000504,6.752909e-04,NaN,NaN

### Location Region

In [19]:
# Get data
df_reg = con.read_sql_file_into_pandas(
    file="sql/7-location-region.sql",
    formatting={
        'start_date': start_date,
        'end_date': end_date,
        'table_name': table_name
    }
)

In [20]:
# Check data
df_reg

,LOCATION_REGION_NAME,RANGE_SALES,RANGE_QUANTITY,RANGE_SALES_SHARE,RANGE_QUANTITY_SHARE,OVERALL_SALES,OVERALL_QUANTITY,OVERALL_SALES_SHARE,OVERALL_QUANTITY_SHARE,SALES_INDEX,QUANTITY_INDEX
0,East Division,23792714.48,306336.0,0.349394,0.348193,4.319151e+09,261698214.0,0.271404,0.265138,1.287360,1.313255
1,North Division,17159536.79,221782.0,0.251987,0.252086,4.350527e+09,264063594.0,0.273375,0.267534,0.921760,0.942258
2,South Division,16325037.36,211021.0,0.239732,0.239855,4.191870e+09,263808733.0,0.263406,0.267276,0.910124,0.897405
3,Trade Strategies,NaN,NaN,NaN,NaN,2.876440e+07,141824.0,0.001807,0.000144,NaN,NaN
4,West Division,10819734.28,140648.0,0.158887,0.159866,3.023797e+09,197315563.0,0.190007,0.199909,0.836215,0.799695

### Metro/Regional

In [21]:
# Get data
df_mr = con.read_sql_file_into_pandas(
    file="sql/8-location-metro-regional.sql",
    formatting={
        'start_date': start_date,
        'end_date': end_date,
        'table_name': table_name
    }
)

In [22]:
# Check data
df_mr

,TRADE_REGION_CODE,RANGE_SALES,RANGE_QUANTITY,RANGE_SALES_SHARE,RANGE_QUANTITY_SHARE,OVERALL_SALES,OVERALL_QUANTITY,OVERALL_SALES_SHARE,OVERALL_QUANTITY_SHARE,SALES_INDEX,QUANTITY_INDEX
0,Metro,48207478.23,622159.0,0.707923,0.70717,1.190340e+10,747412725.0,0.747977,0.757236,0.94645,0.933884
1,Regional,19889544.68,257628.0,0.292077,0.29283,4.010714e+09,239615203.0,0.252023,0.242764,1.15893,1.206231

### Drop item range table

In [23]:
# Drop item range table
con.execute_statement_from_sql_string(
    statement='DROP TABLE bdwprd_de.ia_merch_de.{table_name};',
    formatting={'table_name': table_name}
    )