## Setup

In [1]:
# Import packages
import pandas as pd
from ds_common_utils.aux.io.snowflake_tools import SnowflakeTools
from datetime import datetime
import matplotlib.pyplot as plt

In [2]:
# Setup connection
con = SnowflakeTools(
    role="INSIGHT_ANALYST_MERCH_DE_GENERAL_PRD",
    warehouse="INSIGHT_ANALYST_WH",
    database="BDWPRD_DE",
    schema="IA_MERCH_DE"
)

In [3]:
# Date range
start_date = "'2024-06-01'"
end_date = "'2025-05-31'"

## Data

In [4]:
# Set item range table name
table = 'RPC_item_range' + datetime.today().strftime('%Y_%m_%d')

In [5]:
# Create temp item table
con.execute_statement_from_sql_file(
    file='sql/0-item-range.sql',
    formatting={'table_name': table,
                'filter' : "AND item_sub_department_name = '400 RODENT PEST CONTROL' "})

snowflake_tools - 2025-07-03 09:28:52.694288+10:00 - Generating new token with 'INSIGHT_ANALYST_MERCH_DE_GENERAL_PRD' role and 'SESSION:ROLE-ANY' scope...
snowflake_tools - 2025-07-03 09:28:57.299737+10:00 - Saved token with '2025-07-03 13:28:57+10:00' expiry...

## Demographic Segments (AU)

In [6]:
RPC_ds = con.read_sql_file_into_pandas(
    file="sql/1-demographic-segments.sql",
    formatting={
        'start_date': start_date,
        'end_date': end_date,
        'table_name': table,
        'level' : 'item_class_name',
        'country' : 'AU' 
    }
)

In [7]:
# RPC_ds.head(10)

In [8]:
total_summary = RPC_ds.groupby('DEMOGRAPHIC_SEGMENT').agg(TOTAL_SALES_ALL_CLASS=('SEGMENT_SALES', 'first')).reset_index()
total_summary

      DEMOGRAPHIC_SEGMENT  TOTAL_SALES_ALL_CLASS
0    Homeowner older kids              511851.98
1  Homeowner younger kids              877409.75
2         Older homeowner             3843724.49
3          Renter no kids              310016.32
4        Renter with kids              280581.77
5          Unclassifiable               64670.81
6       Younger homeowner              702125.23

In [9]:
segment_index_summary = RPC_ds[['ITEM_CLASS_NAME', 'DEMOGRAPHIC_SEGMENT', 'SALES_INDEX', 'SEGMENT_SALES']]
segment_index_summary

         ITEM_CLASS_NAME     DEMOGRAPHIC_SEGMENT  SALES_INDEX  SEGMENT_SALES
0      500 RODENT POISON    Homeowner older kids     0.937367      511851.98
1      500 RODENT POISON  Homeowner younger kids     0.838635      877409.75
2      500 RODENT POISON         Older homeowner     1.146715     3843724.49
3      500 RODENT POISON          Renter no kids     0.726408      310016.32
4      500 RODENT POISON        Renter with kids     0.701336      280581.77
5      500 RODENT POISON          Unclassifiable     1.130103       64670.81
6      500 RODENT POISON       Younger homeowner     0.921335      702125.23
7   500 RODENT REPELLENT    Homeowner older kids     0.945981       63782.39
8   500 RODENT REPELLENT  Homeowner younger kids     0.975408      126008.45
9   500 RODENT REPELLENT         Older homeowner     0.937121      387861.45
10  500 RODENT REPELLENT          Renter no kids     1.284534       67691.39
11  500 RODENT REPELLENT        Renter with kids     1.392394       68782.77
12  500 RODENT REPELLENT          Unclassifiable     1.049965        7419.06
13  500 RODENT REPELLENT       Younger homeowner     0.979944       92210.93
14       500 RODENT TRAP    Homeowner older kids     1.102052      408662.40
15       500 RODENT TRAP  Homeowner younger kids     1.242090      882491.57
16       500 RODENT TRAP         Older homeowner     0.795387     1810521.40
17       500 RODENT TRAP          Renter no kids     1.351144      391591.99
18       500 RODENT TRAP        Renter with kids     1.368453      371784.54
19       500 RODENT TRAP          Unclassifiable     0.799331       31063.12
20       500 RODENT TRAP       Younger homeowner     1.119486      579353.93

## Commercial Industry Segment (NZ)

In [10]:
# Get data
RPC_is = con.read_sql_file_into_pandas(
    file="sql/5-commercial-industry-segment.sql",
    formatting={
        'start_date': start_date,
        'end_date': end_date,
        'n_commercial_segments': 10, 
        'table_name': table,
        'level' : 'item_class_name',
        'country' : 'NZ' 
    }
)

In [16]:
total_summary = RPC_is.groupby('ITEM_CLASS_NAME').agg(
    TOTAL_SALES_ALL_SEGMENTS=('TOTAL_SALES', 'first'),  # consistent within class
    TOTAL_QUANTITY_ALL_SEGMENTS=('TOTAL_QUANTITY', 'first')
).reset_index()
total_summary

        ITEM_CLASS_NAME  TOTAL_SALES_ALL_SEGMENTS  TOTAL_QUANTITY_ALL_SEGMENTS
0     500 RODENT POISON                 173439.62                       8089.0
1  500 RODENT REPELLENT                  24997.84                        550.0
2       500 RODENT TRAP                 144578.77                      11482.0

In [12]:
segment_index_summary = RPC_is[['ITEM_CLASS_NAME', 'INDUSTRY_SEGMENT', 'SALES_INDEX', 'QUANTITY_INDEX', 'CUSTOMER_INDEX']]
segment_index_summary

,ITEM_CLASS_NAME,INDUSTRY_SEGMENT,SALES_INDEX,QUANTITY_INDEX,CUSTOMER_INDEX
0,500 RODENT POISON,Accommodation and Food Services,0.957570,0.931702,0.992777
1,500 RODENT POISON,Carpentry Services,0.990603,1.091122,0.962853
2,500 RODENT POISON,Cleaning Services,0.804572,0.921128,1.036155
3,500 RODENT POISON,Commercial Builder,0.901528,0.947785,1.023106
4,500 RODENT POISON,Electrical Services,0.897950,0.950121,0.962017
5,500 RODENT POISON,Landscaper and Gardening Services,0.928503,1.017723,0.940158
6,500 RODENT POISON,Manufacturing,0.941474,0.845327,0.982456
7,500 RODENT POISON,Professional Computer and Scientific Services,1.067382,1.080443,1.026850
8,500 RODENT POISON,Residential Builder,0.986684,0.960501,0.967123
9,500 RODENT POISON,Retail and Wholesale Trade,1.080457,1.101155,1.037677
10,500 RODENT REPELLENT,Accommodation and Food Services,1.454980,1.439693,1.320342
11,500 RODENT REPELLENT,Carpentry Services,0.991873,1.009978,1.190194
12,500 RODENT REPELLENT,Cleaning Services,0.749416,0.656476,0.919703
13,500 RODENT REPELLENT,Commercial Builder,1.069870,1.194800,1.427273
14,500 RODENT REPELLENT,Electrical Services,1.066699,1.037834,1.077248
15,500 RODENT REPELLENT,Landscaper and Gardening Services,1.022889,0.961627,1.026330
16,500 RODENT REPELLENT,Manufacturing,1.208692,1.335337,1.351098
17,500 RODENT REPELLENT,Professional Computer and Scientific Services,0.956662,0.891518,0.922455
18,500 RODENT REPELLENT,Residential Builder,1.011583,1.002126,1.019402
19,500 RODENT REPELLENT,Retail and Wholesale Trade,0.644753,0.693259,0.674912
20,500 RODENT TRAP,Accommodation and Food Services,0.972234,1.027054,1.000250
21,500 RODENT TRAP,Carpentry Services,1.012678,0.935327,1.027739
22,500 RODENT TRAP,Cleaning Services,1.277765,1.072020,1.068102
23,500 RODENT TRAP,Commercial Builder,1.106048,1.027454,1.041025
24,500 RODENT TRAP,Electrical Services,1.110888,1.033327,1.059258
25,500 RODENT TRAP,Landscaper and Gardening Services,1.081812,0.989352,1.007150
26,500 RODENT TRAP,Manufacturing,1.034125,1.092903,1.107853
27,500 RODENT TRAP,Professional Computer and Scientific Services,0.926660,0.948525,0.967907
28,500 RODENT TRAP,Residential Builder,1.013971,1.027725,1.027713
29,500 RODENT TRAP,Retail and Wholesale Trade,0.964905,0.943430,0.920082

## Drop item range table

In [13]:
# Drop item range table
con.execute_statement_from_sql_string(
    statement='DROP TABLE bdwprd_de.ia_merch_de.{table_name};',
    formatting={'table_name': table}
    )

# Brand view

In [14]:
overall_brand = con.read_sql_file_into_pandas(
    file="sql/Overall_by_brand.sql",
    formatting={
        "start_date":                 start_date,
        "end_date":                   end_date,
        "sub_dept":                   "'400 RODENT PEST CONTROL'"        
    })

In [15]:
overall_brand

,CUSTOMER_TYPE_CODE,BRAND_NAME,SALES,TOTAL_TRX,TOTAL_UNITS,NUM_ITEMS_PURCHASED,OVERALL_SALES,OVERALL_TRX
0,Consumer,BIG CHEESE,978429.28,40915,51017.0,26,1250863.29,50286
1,Consumer,KIWICARE,695580.01,31730,37769.0,12,940093.19,39491
2,Consumer,CLIX,0.22,1,1.0,1,0.22,1
3,Consumer,TRAPPED!,295159.09,24038,42779.0,9,373345.33,28896
4,Commercial,KIWICARE,244513.18,7761,9740.0,12,940093.19,39491
5,Commercial,NOOSKI,5341.51,337,457.0,3,26334.23,1752
6,Consumer,NO,6960.74,365,367.0,1,8275.91,437
7,Commercial,GOTCHA,11099.77,1278,2066.0,3,63059.13,7913
8,Consumer,NOOSKI,20992.72,1415,1747.0,3,26334.23,1752
9,Commercial,BIG CHEESE,272434.01,9371,12437.0,26,1250863.29,50286
10,Commercial,NO,1315.17,72,71.0,1,8275.91,437
11,Commercial,TRAPPED!,78186.24,4858,9929.0,9,373345.33,28896
12,Consumer,GOTCHA,51959.36,6635,9695.0,3,63059.13,7913
13,Commercial,RATSAK,66860.20,4036,5292.0,12,359915.19,25324
14,Consumer,RATSAK,293054.99,21288,25727.0,12,359915.19,25324