# Set up

In [2]:
# Import packages
import pandas as pd
from ds_common_utils.aux.io.snowflake_tools import SnowflakeTools
from datetime import datetime

In [3]:
# Setup connection
con = SnowflakeTools(
    role="INSIGHT_ANALYST_MERCH_DE_GENERAL_PRD",
    warehouse="INSIGHT_ANALYST_WH",
    database="BDWPRD_DE",
    schema="IA_MERCH_DE"
)

In [4]:
# Date range
start_date = "'2024-06-15'"
end_date = "'2025-06-15'"

# Lighting

In [23]:
Lighting_ds = con.read_sql_file_into_pandas(
    file="sql/1-demographic-segments.sql",
    formatting={
        'start_date': start_date,
        'end_date': end_date,
        'filter': "item_sub_department_name in ('402 EXTERIOR LIGHTING', '402 EXTERIOR LIGHTING BATTENS', '402 GARDEN AND POND LIGHTING', '402 OUTDOOR LIGHTING OFF RANGE', '402 SOLAR LIGHTING')"
    }
)

# Check data
print(Lighting_ds[["DEMOGRAPHIC_SEGMENT", "RANGE_SALES", "SALES_INDEX"]])

      DEMOGRAPHIC_SEGMENT  RANGE_SALES  SALES_INDEX
0    Homeowner older kids   3949325.25         1.06
1  Homeowner younger kids   7487966.79         0.95
2         Older homeowner  20085979.87         1.16
3          Renter no kids   2129445.07         0.58
4        Renter with kids   1667748.09         0.63
5       Younger homeowner   6133087.45         1.00

# EV & Solar

In [24]:
EV_ds = con.read_sql_file_into_pandas(
    file="sql/1-demographic-segments.sql",
    formatting={
        'start_date': start_date,
        'end_date': end_date,
        'filter' : "item_class_name = '500 EV CHARGING STORAGE'"
    }
)

# Check data
EV_ds[["DEMOGRAPHIC_SEGMENT", "RANGE_SALES", "SALES_INDEX"]]

      DEMOGRAPHIC_SEGMENT  RANGE_SALES  SALES_INDEX
0    Homeowner older kids    175673.64         1.39
1  Homeowner younger kids    437007.76         1.64
2         Older homeowner    237266.74         0.40
3          Renter no kids    163473.81         1.30
4        Renter with kids    172141.66         1.90
5       Younger homeowner    224388.36         1.07

# Kitchen Appliances

In [25]:
Kitchen_ds = con.read_sql_file_into_pandas(
    file="sql/1-demographic-segments.sql",
    formatting={
        'start_date': start_date,
        'end_date': end_date,
        'filter' : "item_department_name = '300 KITCHEN AND APPLIANCES'"
    }
)

# Check data
Kitchen_ds[["DEMOGRAPHIC_SEGMENT", "RANGE_SALES", "SALES_INDEX"]]

      DEMOGRAPHIC_SEGMENT  RANGE_SALES  SALES_INDEX
0    Homeowner older kids   7801165.73         1.06
1  Homeowner younger kids  16256041.46         1.04
2         Older homeowner  37965757.87         1.10
3          Renter no kids   3982506.19         0.54
4        Renter with kids   2894657.00         0.55
5       Younger homeowner  13301255.75         1.09

# Assisted Living

In [27]:
AL_ds = con.read_sql_file_into_pandas(
    file="sql/1-demographic-segments.sql",
    formatting={
        'start_date': start_date,
        'end_date': end_date,
        'filter': "(ITEM_CLASS_NAME = '500 RAMPS' OR ITEM_SUB_CLASS_NAME = '601 DISABLED' OR (ITEM_SUB_CLASS_NAME = '601 TOILETS AND ACCESSORIES' AND ITEM_DIGITAL_CATEGORY_1_NAME = 'Assisted Living') OR (ITEM_SUB_CLASS_NAME = '601 DOOR HARDWARE ACC OTHER' AND ITEM_DIGITAL_CATEGORY_1_NAME = 'Assisted Living'))"
    }
)

# Check data
AL_ds[["DEMOGRAPHIC_SEGMENT", "RANGE_SALES", "SALES_INDEX"]]

      DEMOGRAPHIC_SEGMENT  RANGE_SALES  SALES_INDEX
0    Homeowner older kids      6922.10         1.99
1  Homeowner younger kids      3883.62         0.53
2         Older homeowner     19259.01         1.18
3          Renter no kids      1923.28         0.56
4        Renter with kids      1196.36         0.48
5       Younger homeowner      5666.32         0.98

# Caravan/Camping

In [28]:
Caravan_ds = con.read_sql_file_into_pandas(
    file="sql/1-demographic-segments.sql",
    formatting={
        'start_date': start_date,
        'end_date': end_date,
        'filter' : "item_sub_department_name = '400 PICNIC AND CAMP ACC'"
    }
)

# Check data
Caravan_ds[["DEMOGRAPHIC_SEGMENT", "RANGE_SALES", "SALES_INDEX"]]

      DEMOGRAPHIC_SEGMENT  RANGE_SALES  SALES_INDEX
0    Homeowner older kids    267350.98         0.87
1  Homeowner younger kids    598274.43         0.92
2         Older homeowner   1128675.50         0.78
3          Renter no kids    625007.19         2.04
4        Renter with kids    466391.40         2.10
5       Younger homeowner    358637.50         0.70

# Ladders

In [29]:
Ladders_ds = con.read_sql_file_into_pandas(
    file="sql/1-demographic-segments.sql",
    formatting={
        'start_date': start_date,
        'end_date': end_date,
        'filter' : "item_sub_department_name = '401 LADDERS'"
    }
)

# Check data
Ladders_ds[["DEMOGRAPHIC_SEGMENT", "RANGE_SALES", "SALES_INDEX"]]

      DEMOGRAPHIC_SEGMENT  RANGE_SALES  SALES_INDEX
0    Homeowner older kids   2090852.37         0.95
1  Homeowner younger kids   4678562.30         1.01
2         Older homeowner   8841799.02         0.86
3          Renter no kids   3000190.78         1.37
4        Renter with kids   2001297.18         1.27
5       Younger homeowner   3902895.28         1.07

# PPE

In [30]:
PPE_ds = con.read_sql_file_into_pandas(
    file="sql/1-demographic-segments.sql",
    formatting={
        'start_date': start_date,
        'end_date': end_date,
        'filter' : "item_sub_department_name = '401 PPE'"
    }
)

# Check data
PPE_ds[["DEMOGRAPHIC_SEGMENT", "RANGE_SALES", "SALES_INDEX"]]

      DEMOGRAPHIC_SEGMENT  RANGE_SALES  SALES_INDEX
0    Homeowner older kids   1110937.41         1.03
1  Homeowner younger kids   2414448.62         1.06
2         Older homeowner   3452347.45         0.68
3          Renter no kids   2034300.71         1.89
4        Renter with kids   1189696.76         1.53
5       Younger homeowner   1863900.09         1.04

# Garden Hand Tools

In [31]:
HT_ds = con.read_sql_file_into_pandas(
    file="sql/1-demographic-segments.sql",
    formatting={
        'start_date': start_date,
        'end_date': end_date,
        'filter' : "item_department_name = '301 GARDEN HAND TOOLS'"
    }
)

# Check data
HT_ds[["DEMOGRAPHIC_SEGMENT", "RANGE_SALES", "SALES_INDEX"]]

      DEMOGRAPHIC_SEGMENT  RANGE_SALES  SALES_INDEX
0    Homeowner older kids   5553700.48         0.94
1  Homeowner younger kids  12626134.35         1.01
2         Older homeowner  26944920.68         0.97
3          Renter no kids   6156213.94         1.05
4        Renter with kids   4433857.11         1.04
5       Younger homeowner  10264311.16         1.05

# Hooks, Legs, Protect, Safety

In [32]:
Hooks_ds = con.read_sql_file_into_pandas(
    file="sql/1-demographic-segments.sql",
    formatting={
        'start_date': start_date,
        'end_date': end_date,
        'filter' : "item_department_name = '300 HOOKS LEGS PROTECT SAFETY'"
    }
)

# Check data
Hooks_ds[["DEMOGRAPHIC_SEGMENT", "RANGE_SALES", "SALES_INDEX"]]

      DEMOGRAPHIC_SEGMENT  RANGE_SALES  SALES_INDEX
0    Homeowner older kids   9322768.24         0.93
1  Homeowner younger kids  22965370.11         1.08
2         Older homeowner  43971173.00         0.94
3          Renter no kids  10891967.09         1.09
4        Renter with kids   9476247.47         1.31
5       Younger homeowner  15420484.71         0.93