# Set up

In [1]:
# Import packages
import pandas as pd
from ds_common_utils.aux.io.snowflake_tools import SnowflakeTools
from datetime import datetime

In [2]:
# Setup connection
con = SnowflakeTools(
    role="INSIGHT_ANALYST_MERCH_DE_GENERAL_PRD",
    warehouse="INSIGHT_ANALYST_WH",
    database="BDWPRD_DE",
    schema="IA_MERCH_DE"
)

In [3]:
# Date range
start_date = "'2024-06-15'"
end_date = "'2025-06-15'"

# Lighting

In [6]:
Lighting_ds = con.read_sql_file_into_pandas(
    file="sql/1-demographic-segments.sql",
    formatting={
        'start_date': start_date,
        'end_date': end_date,
        'filter': "item_sub_department_name in ('402 EXTERIOR LIGHTING', '402 EXTERIOR LIGHTING BATTENS', '402 GARDEN AND POND LIGHTING', '402 OUTDOOR LIGHTING OFF RANGE', '402 SOLAR LIGHTING')"
    }
)

# Check data
print(Lighting_ds[["DEMOGRAPHIC_SEGMENT", "RANGE_SALES", "RANGE_SALES_SHARE", "SALES_INDEX"]])

      DEMOGRAPHIC_SEGMENT  RANGE_SALES  RANGE_SALES_SHARE  SALES_INDEX
0    Homeowner older kids   3949325.25           0.095271         1.06
1  Homeowner younger kids   7487966.79           0.180635         0.95
2         Older homeowner  20085979.87           0.484542         1.16
3          Renter no kids   2129445.07           0.051369         0.58
4        Renter with kids   1667748.09           0.040232         0.63
5       Younger homeowner   6133087.45           0.147951         1.00

# EV & Solar

In [7]:
EV_ds = con.read_sql_file_into_pandas(
    file="sql/1-demographic-segments.sql",
    formatting={
        'start_date': start_date,
        'end_date': end_date,
        'filter' : "item_class_name = '500 EV CHARGING STORAGE'"
    }
)

# Check data
EV_ds[["DEMOGRAPHIC_SEGMENT", "RANGE_SALES", "RANGE_SALES_SHARE", "SALES_INDEX"]]

      DEMOGRAPHIC_SEGMENT  RANGE_SALES  RANGE_SALES_SHARE  SALES_INDEX
0    Homeowner older kids    175673.64           0.124595         1.39
1  Homeowner younger kids    437007.76           0.309945         1.64
2         Older homeowner    237266.74           0.168280         0.40
3          Renter no kids    163473.81           0.115943         1.30
4        Renter with kids    172141.66           0.122090         1.90
5       Younger homeowner    224388.36           0.159146         1.07

# Kitchen Appliances

In [8]:
Kitchen_ds = con.read_sql_file_into_pandas(
    file="sql/1-demographic-segments.sql",
    formatting={
        'start_date': start_date,
        'end_date': end_date,
        'filter' : "item_department_name = '300 KITCHEN AND APPLIANCES'"
    }
)

# Check data
Kitchen_ds[["DEMOGRAPHIC_SEGMENT", "RANGE_SALES", "RANGE_SALES_SHARE", "SALES_INDEX"]]

      DEMOGRAPHIC_SEGMENT  RANGE_SALES  RANGE_SALES_SHARE  SALES_INDEX
0    Homeowner older kids   7801165.73           0.094903         1.06
1  Homeowner younger kids  16256041.46           0.197759         1.04
2         Older homeowner  37965757.87           0.461863         1.10
3          Renter no kids   3982506.19           0.048448         0.54
4        Renter with kids   2894657.00           0.035214         0.55
5       Younger homeowner  13301255.75           0.161813         1.09

# Assisted Living

In [9]:
AL_ds = con.read_sql_file_into_pandas(
    file="sql/1-demographic-segments.sql",
    formatting={
        'start_date': start_date,
        'end_date': end_date,
        'filter': "(ITEM_CLASS_NAME = '500 RAMPS' OR ITEM_SUB_CLASS_NAME = '601 DISABLED' OR (ITEM_SUB_CLASS_NAME = '601 TOILETS AND ACCESSORIES' AND ITEM_DIGITAL_CATEGORY_1_NAME = 'Assisted Living') OR (ITEM_SUB_CLASS_NAME = '601 DOOR HARDWARE ACC OTHER' AND ITEM_DIGITAL_CATEGORY_1_NAME = 'Assisted Living'))"
    }
)

# Check data
AL_ds[["DEMOGRAPHIC_SEGMENT", "RANGE_SALES", "RANGE_SALES_SHARE", "SALES_INDEX"]]

      DEMOGRAPHIC_SEGMENT  RANGE_SALES  RANGE_SALES_SHARE  SALES_INDEX
0    Homeowner older kids      6922.10           0.178172         1.99
1  Homeowner younger kids      3883.62           0.099963         0.53
2         Older homeowner     19259.01           0.495719         1.18
3          Renter no kids      1923.28           0.049504         0.56
4        Renter with kids      1196.36           0.030794         0.48
5       Younger homeowner      5666.32           0.145849         0.98

# Caravan/Camping

In [10]:
Caravan_ds = con.read_sql_file_into_pandas(
    file="sql/1-demographic-segments.sql",
    formatting={
        'start_date': start_date,
        'end_date': end_date,
        'filter' : "item_sub_department_name = '400 PICNIC AND CAMP ACC'"
    }
)

# Check data
Caravan_ds[["DEMOGRAPHIC_SEGMENT", "RANGE_SALES", "RANGE_SALES_SHARE", "SALES_INDEX"]]

      DEMOGRAPHIC_SEGMENT  RANGE_SALES  RANGE_SALES_SHARE  SALES_INDEX
0    Homeowner older kids    267350.98           0.077620         0.87
1  Homeowner younger kids    598274.43           0.173698         0.92
2         Older homeowner   1128675.50           0.327690         0.78
3          Renter no kids    625007.19           0.181459         2.04
4        Renter with kids    466391.40           0.135408         2.10
5       Younger homeowner    358637.50           0.104124         0.70

# Ladders

In [11]:
Ladders_ds = con.read_sql_file_into_pandas(
    file="sql/1-demographic-segments.sql",
    formatting={
        'start_date': start_date,
        'end_date': end_date,
        'filter' : "item_sub_department_name = '401 LADDERS'"
    }
)

# Check data
Ladders_ds[["DEMOGRAPHIC_SEGMENT", "RANGE_SALES", "RANGE_SALES_SHARE", "SALES_INDEX"]]

      DEMOGRAPHIC_SEGMENT  RANGE_SALES  RANGE_SALES_SHARE  SALES_INDEX
0    Homeowner older kids   2090852.37           0.085287         0.95
1  Homeowner younger kids   4678562.30           0.190840         1.01
2         Older homeowner   8841799.02           0.360660         0.86
3          Renter no kids   3000190.78           0.122379         1.37
4        Renter with kids   2001297.18           0.081634         1.27
5       Younger homeowner   3902895.28           0.159200         1.07

# PPE

In [12]:
PPE_ds = con.read_sql_file_into_pandas(
    file="sql/1-demographic-segments.sql",
    formatting={
        'start_date': start_date,
        'end_date': end_date,
        'filter' : "item_sub_department_name = '401 PPE'"
    }
)

# Check data
PPE_ds[["DEMOGRAPHIC_SEGMENT", "RANGE_SALES", "RANGE_SALES_SHARE", "SALES_INDEX"]]

      DEMOGRAPHIC_SEGMENT  RANGE_SALES  RANGE_SALES_SHARE  SALES_INDEX
0    Homeowner older kids   1110937.41           0.092075         1.03
1  Homeowner younger kids   2414448.62           0.200110         1.06
2         Older homeowner   3452347.45           0.286131         0.68
3          Renter no kids   2034300.71           0.168603         1.89
4        Renter with kids   1189696.76           0.098602         1.53
5       Younger homeowner   1863900.09           0.154480         1.04

# Garden Hand Tools

In [13]:
HT_ds = con.read_sql_file_into_pandas(
    file="sql/1-demographic-segments.sql",
    formatting={
        'start_date': start_date,
        'end_date': end_date,
        'filter' : "item_department_name = '301 GARDEN HAND TOOLS'"
    }
)

# Check data
HT_ds[["DEMOGRAPHIC_SEGMENT", "RANGE_SALES", "RANGE_SALES_SHARE", "SALES_INDEX"]]

      DEMOGRAPHIC_SEGMENT  RANGE_SALES  RANGE_SALES_SHARE  SALES_INDEX
0    Homeowner older kids   5553700.48           0.084174         0.94
1  Homeowner younger kids  12626134.35           0.191366         1.01
2         Older homeowner  26944920.68           0.408385         0.97
3          Renter no kids   6156213.94           0.093305         1.05
4        Renter with kids   4433857.11           0.067201         1.04
5       Younger homeowner  10264311.16           0.155569         1.05

# Hooks, Legs, Protect, Safety

In [4]:
Hooks_ds = con.read_sql_file_into_pandas(
    file="sql/1-demographic-segments.sql",
    formatting={
        'start_date': start_date,
        'end_date': end_date,
        'filter' : "item_sub_department_name = '400 HOOKS'"
    }
)

# Check data
Hooks_ds[["DEMOGRAPHIC_SEGMENT", "RANGE_SALES", "RANGE_SALES_SHARE", "SALES_INDEX"]]

snowflake_tools - 2025-06-24 10:09:17.457252+10:00 - Generating new token with 'INSIGHT_ANALYST_MERCH_DE_GENERAL_PRD' role and 'SESSION:ROLE-ANY' scope...
snowflake_tools - 2025-06-24 10:09:23.476445+10:00 - Saved token with '2025-06-24 14:09:23+10:00' expiry...

      DEMOGRAPHIC_SEGMENT  RANGE_SALES  RANGE_SALES_SHARE  SALES_INDEX
0    Homeowner older kids   2723473.61           0.083737         0.93
1  Homeowner younger kids   6596426.32           0.202817         1.07
2         Older homeowner  11923880.05           0.366618         0.87
3          Renter no kids   3846663.39           0.118272         1.33
4        Renter with kids   3020196.28           0.092861         1.44
5       Younger homeowner   4413344.81           0.135695         0.92